.idea/
.ropeproject/
**/cookie
**/.DS_Store
**/*.swp

*~
#*
*.swp
.DS_Store*
.project
._*
.Spotlight-V100
.Trashes
.idea
.idea/
ehthumbs.db
Thumbs.db
bower_components
dist
jsdoc
deployment-config.json
.make-*
/chaise-config.js
sftp-config.json
npm-debug.log
version.txt
node_modules
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json